<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <img alt="Astra" src="assets\icon\astra-realty-logo.png" />
  
    <ion-card-content>
      When it comes to your house don't mess with the rest, trust the best.
    </ion-card-content>
  </ion-card> 
  <ion-button [routerLink]="['/sign-up']"> Register</ion-button>
  <ion-button [routerLink]="['/sign-in']"> Sign In</ion-button>
</ion-content>
